#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wallet-address {
  white-space: pre-wrap; /* preserves white space and wrap long lines */
  word-break: break-all; /* allow breaking of words */
}
